.navbar{
    background-color: rgb(52, 138, 199);
}
#navbarSupportedContent{
    padding-left: 65%;
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.addressbox{
    width: 500%;
    height: 100%;
    text-align: center;
    border: 2px solid black;
    
    
}
.home-content {
    max-width: 100%;
}
.home-content h1 {
    color: #00abf0;
    font-size: 200%;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 100%;
    font-weight: 700;
    color: #015779;
}
.home-content p{
    font-size: 100%;
    margin: 20px 0 40px;
    color: #5fa1bb;
}   


.home-sci{
    position: absolute;
    bottom: 40px;
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background:transparent; */
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
}

.proavatar{
    position: absolute;
    /* padding-left: 25%; */
    padding-bottom: 50px;
    display: flex;
    position: sticky;
}

.proavatar img{
    border-radius: 50%;
    width: 130%;
    height: 130%;
    
}

body {
    background-color: #08004d
}

.chat-btn {
    position: absolute;
    right: 14px;
    bottom: 30px;
    cursor: pointer
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    transition: all 0.9s ease
}

#check:checked~.chat-btn i {
    display: block;
    pointer-events: auto;
    transform: rotate(180deg)
}

#check:checked~.chat-btn .comment {
    display: none
}

.chat-btn i {
    font-size: 22px;
    color: #fff !important
}

.chat-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: blue;
    color: #fff;
    font-size: 22px;
    border: none
}

.wrapper {
    position: absolute;
    right: 20px;
    bottom: 100px;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.4s
}

#check:checked~.wrapper {
    opacity: 1
}

.header {
    padding: 13px;
    background-color: blue;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
    color: #fff
}

.chat-form {
    padding: 15px
}

.chat-form input,
textarea,
button {
    margin-bottom: 10px
}

.chat-form textarea {
    resize: none
}

.form-control:focus,
.btn:focus {
    box-shadow: none
}

.btn,
.btn:focus,
.btn:hover {
    background-color: blue;
    border: blue
}

#check {
    display: none !important
}

/* FOR HOVER BUTTON */

/* .btn-box{
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 50px;
    margin-right: 4 50px;

}

.btn-box a{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #067aa8;
    border-radius: 8px;
    font-size: 19px;
    color: rgb(17, 2, 27);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .1s;
    z-index: 1;
    overflow: hidden;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;

}
.btn-box a:nth-child(2):hover{
    color: #081b29;

}
.btn-box a:nth-child(2)::before{
     background-color: #00abf0;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 2s;
}

.btn-box a:hover::before{
    width: 100%;

} */

.vl {
    border-left: 2px solid rgb(0, 0, 0);
    height: 500px;
    margin-left: 50%;
  }

  @media(max-width:1000px){
    .vl{
        border: none;
        height: 1px;
    }
  }
  @media(max-width:1210px){
    p,h5{
        font-size:xx-small;
    }
  }

  @media(max-width:900px){
    .proavatar{
        width: 0%;
        height: 0%;
    }
  }


  #project{
    margin-left: 5%;
  }

  /* RESON FOR DOWN SCROLL BAR */
  /* div.row.container{
    padding-left: 18%;
  } */